*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 20px 48px;
  font-size: 16px;
  box-shadow: rgb(25 28 31 / 4%) 0px 8px 16px, rgb(25 28 31 / 4%) 0px -1px 0px;
  line-height: 1.65;
  height: 88px;
}

.logo {
  flex-basis: 5%;
  display: flex;
  align-items: center;
}

.main_nav {
  flex-basis: 95%;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.main_nav > nav {
  display: flex;
}

.nav_btn {
  display: flex;
}

ul {
  list-style: none;
}

.prime_nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
  transition: all 0.2s;
}

.prime_nav li {
  padding: 0 20px;
  transition: all 0.2s;
}

 .voice, a, .dropo_down_menu li {
  color: #000000;
  opacity: .5;
  font-weight: normal;
  transition: opacity 0.3s;
}

.bold {
  opacity: 1;
  font-weight: 500;
}

a:hover, .voice:hover, li:hover {
  opacity: 1;
  cursor: pointer;
}

.menu_voice {
  position: relative;
}

.dropo_down_menu {
  border-radius: 10%;
  box-shadow: rgb(0 0 0 / 4%) 0px 0px 4px 0px, rgb(0 0 0 / 8%) 0px 8px 16px 0px;
  padding: 0.5rem 0px;
  position: absolute;
  top: 100%;
  z-index: 10;
  background: white;
   display: none;
}

.active {
  display: block;
}

.active_click {
  display: block;
}

.clear {
  opacity: 1;
}

.btn {
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 500;
  border-collapse: separate;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  opacity: 0.9;
}

.btn_1 {
  background-color: rgba(230, 230, 230, 0.6);
  color: rgb(25, 28, 31);
  margin: 0 16px 0 32px;

}

.btn_2 {
  background-color: #3E4043;
  color: white;
}
